{% extends "chollo_main/base.html" %}
{% load static %}


{% block body %}

    <section id="nav-menu">
        <div id="div-nav-menu">
            Home / Categories / Clothing’s / Nnamdi Men’s Store / Men’s Shirt
        </div>
    </section>
    <section>
        <div id="loc-pay">
            <div id="locdiv" class="white">
                <img id="loc-icon" src="{% static "chollo_main/media/icon/heroicons-outline/location-icon.png" %}" alt="location icon">
                <form class="locpay-form" action="mailto:info@chollo.com" method="post">
                    <input type="email" placeholder="Enter delivery location" id="sel-location"/>
                </form>
            </div>
            <div id="paydiv" class="white">
                <img id="pay-icon" src="{% static "chollo_main/media/icon/heroicons-outline/payment-options.png" %}" alt="">
                <form class="locpay-form" action="mailto:info@chollo.com" method="post">
                    <input type="email" placeholder="Select payment method" id="payment-provider"/>
                </form>
                <img id="dropdown" src="{% static "chollo_main/media/icon/Vector 335dropdown.svg" %}" alt="">
            </div>
        </div>


    {% for item in cart %}
        {% with product=item.product %}

        <div class="white batch-two">
            <div class="batch-two-prod">
                <div class="bt-one">
                    <img class="bt-o-img" src="{% static "chollo_main/media/icon/heroicons-outline/store-icon.svg" %}" alt="">
                    <p class="bt-one-txt">
                        <span>Nnamdi's</span> Men Store
                    </p>
                    <img class="bt-o-clp" src="{% static "chollo_main/media/icon/heroicons-outline/clipboard.svg" %}" alt="">
                </div>

                <div class="bt-two">
                    <img class="bt-two-img" src="{{ product.image.url }}" alt="">
                    <div class="bt-two-txtgrp">
                        <div class="bt-two-title">
                            <p class="product-name">{{ product.name }}</p>
                        </div>
                        <p class="bt-two-price">NGN {{ product.price }}</p>
                    </div>
                    <div class="c-quantity">
                        <div class="align-c redu-quan">
                            <img src="{% static "chollo_main/media/icon/Vector 615.svg" %}" alt="Reduce button">
                        </div>
                        <div class="quan-number">
                            <p class="qu-number">1</p>
                        </div>
                        <div class="align-c incr-quan">
                            <img src="{% static "chollo_main/media/icon/plus icon.svg" %}" alt="Add button">
                        </div>
                    </div>
                </div>
                <div class="bt-three">
                    <div class="bt-three-one">
                        <p><span class="black">Delivery: </span><span>Free Delivery</span></p>
                        <p><span class="black">Estimated Delivery: </span><span>after 24 hours</span></p>
                    </div>
                    <div class="bt-three-two">
                        <img src="{% static "chollo_main/media/icon/heroicons-outline/favourites shaded.svg" %}" alt="">
                    </div>
                </div>
            </div>
        </div>

            {% endwith %}
        {% endfor %}



        <div id="batch-three">
            <div id="summarydiv" class="white">
                <div id="sumtext">Summary</div>
                <div id="sump">
                    <p id="ticsmbx1" class="sump50">Total items cost</p>
                    <p id="ticsmbx2" class="sump50">Total shipping</p>
                    <p id="ticsmbx3">NGN 12,000</p>
                    <p id="ticsmbx4">Free</p>
                </div>
            </div>
            <div id="summarybox" class="white">
                <p class="summbox32">Total</p>
                <h2 class="summbox32">NGN 12,000</h2>
            </div>
            <div class="white" id="m-white">
                <button id="buy-now" class="btn place-o">Place Order</button>
            </div>
        </div>
    </section>

{% endblock %}


{##}
{##}
{#{% block title %}#}
{#Your shopping cart#}
{#{% endblock %}#}
{#{% block content %}#}
{#<h1>Your shopping cart</h1>#}
{#<table class="cart">#}
{#<thead>#}
{#<tr>#}


{#<th>Image</th>#}
{#<th>Product</th>#}
{#<th>Quantity</th>#}
{#<th>Remove</th>#}
{#<th>Unit price</th>#}
{#<th>Price</th>#}
{#</tr>#}
{#</thead>#}
{#<tbody>#}
{#{% for item in cart %}#}
{#{% with product=item.product %}#}
{#<tr>#}
{#<td>#}
{#<a href="{{ product.get_absolute_url }}">#}
{#<img src="{% if product.image %}{{ product.image.url }}#}
{#{% else %}{% static "img/no_image.png" %}{% endif %}">#}
{#</a>#}
{#</td>#}
{##}
{#<td>{{ product.name }}</td>#}
{##}
{#    <td>#}
{#<form action="{% url "cart:cart_add" product.id %}" method="post">#}
{#{{ item.update_quantity_form.quantity }}#}
{#{{ item.update_quantity_form.override }}#}
{#<input type="submit" value="Update">#}
{#{% csrf_token %}#}
{#</form>#}
{##}
{#    <td>#}
{#<form action="{% url "cart:cart_remove" product.id %}"#}
{#method="post">#}
{#<input type="submit" value="Remove">#}
{#{% csrf_token %}#}
{#</form>#}
{#</td>#}
{#<td class="num">${{ item.price }}</td>#}
{#<td class="num">${{ item.total_price }}</td>#}
{#</tr>#}
{#{% endwith %}#}
{#{% endfor %}#}
{#<tr class="total">#}
{#<td>Total</td>#}
{#<td colspan="4"></td>#}
{#<td class="num">${{ cart.get_total_price }}</td>#}
{#</tr>#}
{#</tbody>#}
{#</table>#}
{#<p class="text-right">#}
{#<a href="{% url "shop:product_list" %}" class="button#}
{#light">Continue shopping</a>#}
{##}
{#<a href="{% url "orders:order_create" %}" class="button">#}
{#Checkout#}
{#</a>#}
{##}
{#</p>#}
{#{% endblock %}#}

