{% extends "chollo_main/base.html" %}

{% load static %}

{% block body %}

    <section id="nav-menu">
        <div id="div-nav-menu" style="display: flex; justify-content: center;">
            <p>Welcome to Chollo! We bring the market <span style="color: var(--orange);">closer</span> to you. Enjoy <span style="color: var(--orange);">FREE</span> shipping on a product per week</p>
        </div>
    </section>
    <section id="landing-photo-cont">
        <div id="lpc-navbutton" style="display: none;">

        </div>
        <div id="lpc-verticalslider">
            <div class="lpc-vs-circle lpcvcfull"></div>
            <div class="lpc-vs-circle"></div>
            <div class="lpc-vs-circle"></div>
            <div class="lpc-vs-circle"></div>
        </div>
        <div id="lpc-lph1-cont">
            <div id="lpc-lph1">
                <h1 id="lph1">Bringing the market <span style="color: var(--orange); font-size: 64px;">closer</span> to you</h1>
                <button id="lpcbtn" class="btn">SHOP NOW</button>
            </div>
        </div>
        <div id="lpc-navbutton-cont"> 
            <p>More</p>
            <img src="{% static "chollo_main/media/icon/rightarrowicon.svg" %}" alt="right arrow icon">
        </div>
    </section>
    <section id="feat-lp">
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="{% static "chollo_main/media/icon/rocketlaunch.svg" %}" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">Free Shipping</p>
                <p class="ftlp-sup-txt">1 every week</p>
            </div>
        </div>
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="{% static "chollo_main/media/icon/walleticon.svg" %}" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">Payment Method</p>
                <p class="ftlp-sup-txt">Online System</p>
            </div>
        </div>
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="{% static "chollo_main/media/icon/recordcameraicon.svg" %}" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">Online Support</p>
                <p class="ftlp-sup-txt">Every 24 hours</p>
            </div>
        </div>
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="{% static "chollo_main/media/icon/moneyicon.svg" %}" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">Money Guarantee</p>
                <p class="ftlp-sup-txt">7 days back</p>
            </div>
        </div>
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="{% static "chollo_main/media/icon/recordcameraicon.svg" %}" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">100% Safe</p>
                <p class="ftlp-sup-txt">Secure</p>
            </div>
        </div>
    </section>
    <section id="shop-by-categories">
        <div id="sbc-details">
            <div id="sbcd-txt">
                <p>Shop by Categories</p>
                <div class="sbcline"></div>
            </div>
            <p id="sbcd-view-more">View More</p>
        </div>
        <div id="sbc-grid">
            <div id="sbcg-grp-1">
                <div class="sbc-prod sbc-card">
                    <img src="{% static "chollo_main/media/product-image/headphones.png" %}" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">Headphones</p>
                </div>
                <div class="sbc-prod sbc-card">
                    <img src="{% static "chollo_main/media/product-image/macbook.png" %}" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">Laptops</p>
                </div>
            </div>
            <div id="sbcg-grp-2">
                <div class="sbc-prod sbc-card">
                    <img src="{% static "chollo_main/media/product-image/nikekicks.png" %}" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">Shoes</p>
                </div>
                <div class="sbc-prod sbc-card">
                    <img src="{% static "chollo_main/media/product-image/bab469d61797b42a259aaf3affa61130 1.png" %}" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">Clothes</p>
                </div>
            </div>
            <div id="beauty-picks-grp" class="sbc-card sbc-prod">
                <img src="{% static "chollo_main/media/product-image/beautypicks.png" %}" alt="Green flowers" class="sbc-grid-img">
                <p class="sbc-grid-txt">Beauty Picks</p>
            </div>
            <div id="handbags" class="sbc-card sbc-prod">
                <img src="{% static "chollo_main/media/product-image/handbag.png" %}" alt="Handbag" class="sbc-grid-img">
                <p class="sbc-grid-txt">Handbags</p>
            </div>
        </div>
    </section>
    <section id="dealsoftheday">
        <div id="doddetail">
            <div class="sbcline"></div>
            <p>DEALS OF THE DAY</p>
        </div>
        <div id="dodcontent">
            <div class="dodc-item">
                <div class="dodc-item-img">
                    <img src="{% static "chollo_main/media/product-image/computer dod.png" %}" alt="Macbook photo">
                    <p class="new-tag">-35%</p>
                </div>
                <div class="dodc-item-details">
                    <div class="dodc-id-rating">
                        <img src="{% static "chollo_main/media/icon/Star 5.svg" %}" alt="Star rating image">
                        <p>4.5</p>
                    </div>
                    <h3 class="dodc-id-title">
                        HP LAPTOP PAVILLON X360
                    </h3>
                    <div class="dodc-id-price">
                        <p class="original-price">NGN 12,000</p>
                        <p class="discounted-price">NGN 8,000</p>
                    </div>
                    <div class="dodc-id-timer">
                        <div class="dodc-id-t-details">
                            <span class="dodc-idt-d">12</span> :
                            <span class="dodc-idt-d">50</span> :
                            <span class="dodc-idt-d">45</span>
                        </div>
                        <div class="dodc-id-t-static">
                            <p class="dodc-idt-s">HRS</p>
                            <p class="dodc-idt-s">MINS</p>
                            <p class="dodc-idt-s">SEC</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dodc-item">
                <div class="dodc-item-img">
                    <img src="{% static "chollo_main/media/product-image/nikedod.png" %}" alt="Nike sneakers photo">
                    <p class="new-tag">-35%</p>
                </div>
                <div class="dodc-item-details">
                    <div class="dodc-id-rating">
                        <img src="{% static "chollo_main/media/icon/Star 5.svg" %}" alt="Star rating image">
                        <p>4.5</p>
                    </div>
                    <h3 class="dodc-id-title">
                        NEW NIKE ULTRA BOOST
                    </h3>
                    <div class="dodc-id-price">
                        <p class="original-price">NGN 12,000</p>
                        <p class="discounted-price">NGN 8,000</p>
                    </div>
                    <div class="dodc-id-timer">
                        <div class="dodc-id-t-details">
                            <span class="dodc-idt-d">12</span> :
                            <span class="dodc-idt-d">50</span> :
                            <span class="dodc-idt-d">45</span>
                        </div>
                        <div class="dodc-id-t-static">
                            <p class="dodc-idt-s">HRS</p>
                            <p class="dodc-idt-s">MINS</p>
                            <p class="dodc-idt-s">SEC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="suggestions">
        <div id="lpc-horizontalslider">
            <div class="lpc-vs-circle lpcvcfull"></div>
            <div class="lpc-vs-circle"></div>
            <div class="lpc-vs-circle"></div>
            <div class="lpc-vs-circle"></div>
        </div>
        <div id="sugg-details-cont">
            <div id="sugg-1st-cont">
                <img src="{% static "chollo_main/media/logo.png" %}" alt="Chollo logo">
                <div id="sugg-cam-text">
                    <p id="sct-bigtext">Professional Camera Zoom</p>
                    <p id="sct-smalltext">Upgrade your shopping</p>
                </div>
                <div id="sugg-cam-flex">
                    <div id="sugg-cam-cont">
                        <div class="sugg-cam-border top-left"></div>
                        <div class="sugg-cam-border bottom-left"></div>
                        <div class="sugg-cam-border top-right"></div>
                        <div class="sugg-cam-border bottom-right"></div>
                        <img src="{% static "chollo_main/media/icon/camera.png" %}" alt="Camera icon">
                    </div>
                </div>
                <button id="lpcbtn" class="btn">EXPLORE NOW!</button>
            </div>
            <div id="sugg-2nd-cont">
                <img src="{% static "chollo_main/media/SAVE_20230525_083734.png" %}" alt="Chollo promotional flyer">
            </div>
            <div id="sugg-3rd-cont">
                <div id="sugg-3con-details">
                    <div id="sugg-3cond-cont">
                        <p id="sugg-3con-maintxt">Apple</p>
                        <div id="sugg-3con-txtcont">
                            <p id="sugg-3con-2ndmaintext">New iPad 13 Pro</p>
                            <p id="sugg-3con-3rdmaintext">Available</p>
                        </div>
                    </div>
                </div>
                <img src="{% static "chollo_main/media/product-image/ipad.png" %}" alt="iPad">
            </div>
        </div>
    </section>

{% endblock %}