<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/media/logo.png" type="image/x-icon">
</head>
<body>
    <header id="det-head">
        <div id="logo">
            <img src="../static/media/logo.png" alt="logo">
        </div>
        <div id="header-pages">
            <ul class="header-ul">
                <li><a href="product.html" class="header-page">Collection</a></li>
                <li><a href="" class="header-page">Catalog</a></li>
                <li><a href="" class="header-page">About Us</a></li>
                <li><a href="" class="header-page">Blog</a></li>
            </ul>
        </div>
        <div id="social-links" class="header-ul">
            <a href="">
                <img src="../static/media/icon/shopping-cart.svg" alt="Shopping cart icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/search icon.svg" alt="Search icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/avatar.svg" alt="Avatar icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/favourites.svg" alt="Favourites icon" class="social-link">
            </a>
        </div>
        <div id="mobile-menu">
            <img src="../static/media/icon/2931181_lines_list_menu_checklist_navigation_icon - Copy - Copy (2) 1.svg" alt="Menu button" class="m-s-l">
        </div>
    </header>
    <section id="nav-menu">
        <div id="div-nav-menu">
            Home / Categories / Clothing’s / Nnamdi Men’s Store / Men’s Shirt
        </div>
    </section>
    <section>
        <div id="loc-pay">
            <div id="locdiv" class="white">
                <img id="loc-icon" src="../static/media/icon/heroicons-outline/location-icon.png" alt="location icon">
                <form class="locpay-form" action="mailto:info@chollo.com" method="post">
                    <input type="email" placeholder="Enter delivery location" id="sel-location"/>
                </form>
            </div>
            <div id="paydiv" class="white">
                <img id="pay-icon" src="../static/media/icon/heroicons-outline/payment-options.png" alt="">
                <form class="locpay-form" action="mailto:info@chollo.com" method="post">
                    <input type="email" placeholder="Select payment method" id="payment-provider"/>
                </form>
                <img id="dropdown" src="../static/media/icon/Vector 335dropdown.svg" alt="">
            </div>
        </div>
        <div class="white batch-two">
            <div class="batch-two-prod">
                <div class="bt-one">
                    <img class="bt-o-img" src="../static/media/icon/heroicons-outline/store-icon.svg" alt="">
                    <p class="bt-one-txt">
                        <span>Nnamdi's</span> Men Store
                    </p>
                    <img class="bt-o-clp" src="../static/media/icon/heroicons-outline/clipboard.svg" alt="">
                </div>
                <div class="bt-two">
                    <img class="bt-two-img" src="../static/media/product-image/shirt" alt="">
                    <div class="bt-two-txtgrp">
                        <div class="bt-two-title">
                            <p class="product-name">men jacket shirt</p>
                        </div>
                        <p class="bt-two-price">NGN 12,000</p>
                    </div>
                    <div class="c-quantity">
                        <div class="align-c redu-quan">
                            <img src="../static/media/icon/Vector 615.svg" alt="Reduce button">
                        </div>
                        <div class="quan-number">
                            <p class="qu-number">1</p>
                        </div>
                        <div class="align-c incr-quan">
                            <img src="../static/media/icon/plus icon.svg" alt="Add button">
                        </div>
                    </div>
                </div>
                <div class="bt-three">
                    <div class="bt-three-one">
                        <p><span class="black">Delivery: </span><span>Free Delivery</span></p>
                        <p><span class="black">Estimated Delivery: </span><span>after 24 hours</span></p>
                    </div>
                    <div class="bt-three-two">
                        <img src="../static/media/icon/heroicons-outline/favourites shaded.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="batch-two-prod">
                <div class="bt-one">
                    <img class="bt-o-img" src="../static/media/icon/heroicons-outline/store-icon.svg" alt="">
                    <p class="bt-one-txt">
                        <span>Ken's</span> IT Store
                    </p>
                    <img class="bt-o-clp" src="../static/media/icon/heroicons-outline/clipboard.svg" alt="">
                </div>
                <div class="bt-two">
                    <img class="bt-two-img" src="../static/media/product-image/airpods.png" alt="">
                    <div class="bt-two-txtgrp">
                        <div class="bt-two-title">
                            <p class="product-name">air pods</p>
                        </div>
                        <p class="bt-two-price">NGN 24,000</p>
                    </div>
                    <div class="c-quantity">
                        <div class="align-c redu-quan">
                            <img src="../static/media/icon/Vector 615.svg" alt="Reduce button">
                        </div>
                        <div class="quan-number">
                            <p class="qu-number">1</p>
                        </div>
                        <div class="align-c incr-quan">
                            <img src="../static/media/icon/plus icon.svg" alt="Add button">
                        </div>
                    </div>
                </div>
                <div class="bt-three">
                    <div class="bt-three-one">
                        <p><span class="black">Delivery: </span><span>Free Delivery</span></p>
                        <p><span class="black">Estimated Delivery: </span><span>after 24 hours</span></p>
                    </div>
                    <div class="bt-three-two">
                        <img src="../static/media/icon/heroicons-outline/favourites shaded.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="batch-two-prod">
                <div class="bt-one">
                    <img class="bt-o-img" src="../static/media/icon/heroicons-outline/store-icon.svg" alt="">
                    <p class="bt-one-txt">
                        <span>Nnamdi's</span> Men Store
                    </p>
                    <img class="bt-o-clp" src="../static/media/icon/heroicons-outline/clipboard.svg" alt="">
                </div>
                <div class="bt-two">
                    <img class="bt-two-img" src="../static/media/product-image/f559820c47c0279ebbd8321cff5e9101.png" alt="">
                    <div class="bt-two-txtgrp">
                        <div class="bt-two-title">
                            <p class="product-name">men jacket shirt</p>
                        </div>
                        <p class="bt-two-price">NGN 12,000</p>
                    </div>
                    <div class="c-quantity">
                        <div class="align-c redu-quan">
                            <img src="../static/media/icon/Vector 615.svg" alt="Reduce button">
                        </div>
                        <div class="quan-number">
                            <p class="qu-number">3</p>
                        </div>
                        <div class="align-c incr-quan">
                            <img src="../static/media/icon/plus icon.svg" alt="Add button">
                        </div>
                    </div>
                </div>
                <div class="bt-three">
                    <div class="bt-three-one">
                        <p><span class="black">Delivery: </span><span>Free Delivery</span></p>
                        <p><span class="black">Estimated Delivery: </span><span>after 24 hours</span></p>
                    </div>
                    <div class="bt-three-two">
                        <img src="../static/media/icon/heroicons-outline/favourites shaded.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="batch-three">
            <div id="summarydiv" class="white">
                <div id="sumtext">Summary</div>
                <div id="sump">
                    <p id="ticsmbx1" class="sump50">Total items cost</p>
                    <p id="ticsmbx2" class="sump50">Total shipping</p>
                    <p id="ticsmbx3">NGN 12,000</p>
                    <p id="ticsmbx4">Free</p>
                </div>
            </div>
            <div id="summarybox" class="white">
                <p class="summbox32">Total</p>
                <h2 class="summbox32">NGN 12,000</h2>
            </div>
            <div class="white" id="m-white">
                <button id="buy-now" class="btn place-o">Place Order</button>
            </div>
        </div>
    </section>
    <section id="newsletter">
        <div id="newsletter-text">
            <h2 id="nsl-heading">Join Our Newsletter</h2>
            <span id="nsl-p">Subscribe Now! for free and save 10% on your first purchase</span>
        </div>
        <div id="form-intake">
            <form action="mailto:info@chollo.com" method="post">
                <input type="email" placeholder="Enter your Email Address" id="emailfield"/>
                <input type="submit" value="Send" id="sendbutton">
            </form>
        </div>
    </section>
    <footer>
        <div id="footer-docl">
            <div class="footer-link-con">
                <ul class="footer-links">
                    <li><a href="" class="footer-link">Collection</a></li>
                    <li><a href="" class="footer-link">Catalog</a></li>
                    <li><a href="" class="footer-link">About Us</a></li>
                    <li><a href="" class="footer-link">Blog</a></li>
                </ul>
            </div>
            <div id="footer-social">
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bx-envelope.svg" alt="Email icon">
                </a>
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxl-facebook.svg" alt="Facebook icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-instagram.svg" alt="Instagram icon">
                </a>      
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxs-phone.svg" alt="Phone icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-twitter.svg" alt="Twitter icon">
                </a>
            </div>
        </div>
        <hr id="top-line">
        <div id="footer-docs">
            <a href="">CUSTOMERS SERVICE AND TERMS</a>
            <a href="">MATERIALS & CARE</a>
            <a href="">PRIVACY POLICY</a>
        </div>
        <hr id="bottom-line">
    </footer>
</body>
</html>