<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmed!</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/media/logo.png" type="image/x-icon">
</head>
<body>
    <header id="det-head">
        <div id="logo">
            <img src="../static/media/logo.png" alt="logo">
        </div>
        <div id="header-pages">
            <ul class="header-ul">
                <li><a href="product.html" class="header-page">Collection</a></li>
                <li><a href="" class="header-page">Catalog</a></li>
                <li><a href="" class="header-page">About Us</a></li>
                <li><a href="" class="header-page">Blog</a></li>
            </ul>
        </div>
        <div id="social-links" class="header-ul">
            <a href="">
                <img src="../static/media/icon/shopping-cart.svg" alt="Shopping cart icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/search icon.svg" alt="Search icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/avatar.svg" alt="Avatar icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/favourites.svg" alt="Favourites icon" class="social-link">
            </a>
        </div>
        <div id="mobile-menu">
            <img src="../static/media/icon/2931181_lines_list_menu_checklist_navigation_icon - Copy - Copy (2) 1.svg" alt="Menu button" class="m-s-l">
        </div>
    </header>
    <section id="nav-menu">
        <div id="div-nav-menu">
            Home / Categories / Clothing’s / Nnamdi Men’s Store / Men’s Shirt
        </div>
    </section>
    <section id="confirmation-container">
        <p id="all-done-text">All done!</p>
        <img src="../static/media/icon/Group 10.svg" alt="Good sign on a green wobble indicating a successful purchase">
        <p id="congrats-text">
            Congrats! Your Order is on its way
        </p>
        <div id="confirmation-div">
            <button id="add-t-c" class="btn">Track Order</button>
            <button id="buy-now" class="btn">Download Receipt</button>
        </div>
    </section>
    <footer>
        <div id="footer-docl">
            <div class="footer-link-con">
                <ul class="footer-links">
                    <li><a href="" class="footer-link">Collection</a></li>
                    <li><a href="" class="footer-link">Catalog</a></li>
                    <li><a href="" class="footer-link">About Us</a></li>
                    <li><a href="" class="footer-link">Blog</a></li>
                </ul>
            </div>
            <div id="footer-social">
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bx-envelope.svg" alt="Email icon">
                </a>
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxl-facebook.svg" alt="Facebook icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-instagram.svg" alt="Instagram icon">
                </a>
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxs-phone.svg" alt="Phone icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-twitter.svg" alt="Twitter icon">
                </a>
            </div>
        </div>
        <hr id="top-line">
        <div id="footer-docs">
            <a href="">CUSTOMERS SERVICE AND TERMS</a>
            <a href="">MATERIALS & CARE</a>
            <a href="">PRIVACY POLICY</a>
        </div>
        <hr id="bottom-line">
    </footer>
</body>
</html>