<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/media/logo.png" type="image/x-icon">
</head>
<body>
    <header id="det-head">
        <div id="logo">
            <img src="../static/media/logo.png" alt="logo">
        </div>
        <div id="header-pages">
            <ul class="header-ul">
                <li><a href="product.html" class="header-page">Collection</a></li>
                <li><a href="" class="header-page">Catalog</a></li>
                <li><a href="" class="header-page">About Us</a></li>
                <li><a href="" class="header-page">Blog</a></li>
            </ul>
        </div>
        <div id="social-links" class="header-ul">
            <a href="">
                <img src="../static/media/icon/shopping-cart.svg" alt="Shopping cart icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/search icon.svg" alt="Search icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/avatar.svg" alt="Avatar icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/favourites.svg" alt="Favourites icon" class="social-link">
            </a>
        </div>
        <div id="mobile-menu">
            <img src="../static/media/icon/2931181_lines_list_menu_checklist_navigation_icon - Copy - Copy (2) 1.svg" alt="Menu button" class="m-s-l">
        </div>
    </header>
    <section id="nav-menu" style="margin: 0px;">
        <div id="div-nav-menu" style="display: flex; justify-content: center;">
            <p>Welcome to Chollo! We bring the market <span style="color: var(--orange);">closer</span> to you. Enjoy <span style="color: var(--orange);">FREE</span> shipping on a product per week</p>
        </div>
    </section>
    <section id="landing-photo-cont-housing" style="padding-right: 27px;">
        <div id="lpc-navbutton" style="display: none;">

        </div>
        <div id="lpc-verticalslider">
            <div class="lpc-vs-circle lpcvcfull"></div>
            <div class="lpc-vs-circle"></div>
            <div class="lpc-vs-circle"></div>
            <div class="lpc-vs-circle"></div>
        </div>
        <div id="lpc-lph1-cont">
            <div id="lpc-lph1" style="width: 100%;
            align-items: center;">
                <h1 id="lph1" style="text-align: center;">Find ANY <span style="color: var(--orange); font-size: 64px;">Lodge</span> inside and outside school</h1>
                <div id="form-intake" style="
                border-radius: 2px;
                border: 1px solid rgba(255, 255, 255, 0.50);
                width: 80%;">
                    <form action="" method="" style="width: 100%;">
                        <input type="text" placeholder="Saint Lodge" id="emailfield" class="emfhousing" style="width: 100%;
                        color: #fff;
                        ::placeholder {
                            color: #fff;
                        }"/>
                    </form>
                </div>
                <button id="lpcbtn" class="btn">FIND NOW</button>
            </div>
        </div>
        <div id="lpc-navbutton-cont"> 
            <p>More</p>
            <img src="../static/media/icon/rightarrowicon.svg" alt="right arrow icon">
        </div>
    </section>
    <section id="feat-lp" style="justify-content: center;">
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="../static/media/icon/walleticon.svg" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">Payment Method</p>
                <p class="ftlp-sup-txt">Online System</p>
            </div>
        </div>
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="../static/media/icon/recordcameraicon.svg" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">Online Support</p>
                <p class="ftlp-sup-txt">Every 24 hours</p>
            </div>
        </div>
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="../static/media/icon/moneyicon.svg" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">Money Guarantee</p>
                <p class="ftlp-sup-txt">7 days back</p>
            </div>
        </div>
        <div class="ft-lp-cont">
            <div class="ftlp-img">
                <img src="../static/media/icon/keyicon.svg" alt="rocket icon">
            </div>
            <div class="ftlp-txt">
                <p class="ftlp-main-txt">100% Safe</p>
                <p class="ftlp-sup-txt">Secure</p>
            </div>
        </div>
    </section>
    <section id="shop-by-categories" style="margin-bottom: 214px;">
        <div id="sbc-details">
            <div id="sbcd-txt">
                <p>Locations</p>
                <div class="sbcline"></div>
            </div>
            <p id="sbcd-view-more">FILTER</p>
        </div>
        <div id="sbc-grid">
            <div id="sbcg-grp-1">
                <div class="sbc-prod-housing sbc-card">
                    <img src="../static/media/product-image/odenigwe.png" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">ODENIGWE</p>
                </div>
                <div class="sbc-prod-housing sbc-card">
                    <img src="../static/media/product-image/hilltop.png" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">HILLTOP</p>
                </div>
            </div>
            <div id="sbcg-grp-2">
                <div class="sbc-prod-housing sbc-card">
                    <img src="../static/media/product-image/greenhouse.png" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">GREENHOUSE</p>
                </div>
                <div class="sbc-prod-housing sbc-card">
                    <img src="../static/media/product-image/odim.png" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">ODIM</p>
                </div>
            </div>
            <div id="sbcg-grp-2">
                <div class="sbc-prod-housing sbc-card">
                    <img src="../static/media/product-image/behindflat.png" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">BEHIND FLAT</p>
                </div>
                <div class="sbc-prod-housing sbc-card">
                    <img src="../static/media/product-image/bq.png" alt="" class="sbc-grid-img">
                    <p class="sbc-grid-txt">BQ'S</p>
                </div>
            </div>
            <div style="height: 40vh; 
            display: flex; 
            justify-content: center;
            align-items: center;
            width: 50%;">
                <button id="buy-now" class="btn-housing">Learn More</button>
            </div>
        </div>
    </section>
    <section id="newsletter">
        <div id="newsletter-text">
            <h2 id="nsl-heading">Join Our Newsletter</h2>
            <span id="nsl-p">Subscribe Now! for free and save 10% on your first purchase</span>
        </div>
        <div id="form-intake">
            <form action="mailto:info@chollo.com" method="post">
                <input type="email" placeholder="Enter your Email Address" id="emailfield"/>
                <input type="submit" value="Send" id="sendbutton">
            </form>
        </div>
    </section>
    <footer>
        <div id="footer-docl">
            <div class="footer-link-con">
                <ul class="footer-links">
                    <li><a href="" class="footer-link">Collection</a></li>
                    <li><a href="" class="footer-link">Catalog</a></li>
                    <li><a href="" class="footer-link">About Us</a></li>
                    <li><a href="" class="footer-link">Blog</a></li>
                </ul>
            </div>
            <div id="footer-social">
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bx-envelope.svg" alt="Email icon">
                </a>
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxl-facebook.svg" alt="Facebook icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-instagram.svg" alt="Instagram icon">
                </a>
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxs-phone.svg" alt="Phone icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-twitter.svg" alt="Twitter icon">
                </a>
            </div>
        </div>
        <hr id="top-line">
        <div id="footer-docs">
            <a href="">CUSTOMERS SERVICE AND TERMS</a>
            <a href="">MATERIALS & CARE</a>
            <a href="">PRIVACY POLICY</a>
        </div>
        <hr id="bottom-line">
    </footer>
</body>
</html>