<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | Chollo</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <link rel="shortcut icon" href="../static/media/logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div id="logo">
            <img src="../static/media/logo.png" alt="logo">
        </div>
        <div id="header-pages">
            <ul class="header-ul">
                <li><a href="product.html" class="header-page">Collection</a></li>
                <li><a href="" class="header-page">Catalog</a></li>
                <li><a href="" class="header-page">About Us</a></li>
                <li><a href="" class="header-page">Blog</a></li>
            </ul>
        </div>
        <div id="social-links" class="header-ul">
            <a href="">
                <img src="../static/media/icon/shopping-cart.svg" alt="Shopping cart icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/search icon.svg" alt="Search icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/avatar.svg" alt="Avatar icon" class="social-link">
            </a>
            <a href="">
                <img src="../static/media/icon/favourites.svg" alt="Favourites icon" class="social-link">
            </a>
        </div>
        <div id="mobile-menu">
            <img src="../static/media/icon/2931181_lines_list_menu_checklist_navigation_icon - Copy - Copy (2) 1.svg" alt="Menu button" class="m-s-l">
        </div>
    </header>
    <main id="s-main-cont">
        <section id="incre-me">
            <section id="s-n-img-cont">
                <div id="s-n-img">
                    <div id="s-n-logo-cont">
                        <main id="main-1">
                            <section id="main-1-s1">
                                <p id="m-s-p">Continue without signing in</p>
                                <h1 id="m-s-h1">Sign in</h1>
                                
                            </section>
                            <section id="main-1-s2">
                                <form action="" id="s-form">
                                    <div id="auth-s-f">
                                        <div class="s-f-input-c">
                                            <span>
                                                <img src="../static/media/icon/bxl-google (copy).svg" alt="Google icon">
                                            </span>
                                            <p class="s-f-input-p">Sign In with Google
                                            </p>
                                        </div>
                                        <div class="s-f-input-c">
                                            <span>
                                                <img src="../static/media/icon/bxl-facebook (copy).svg" alt="Facebook icon">
                                            </span>
                                            <p class="s-f-input-p">Sign In with Facebook
                                            </p>
                                        </div>                             
                                    </div>
                                    <input class="s-f-input" type="email" id="s-email" placeholder="Email">
                                    <input class="s-f-input" type="password" id="s-password" placeholder="Password">
                                </form>
                            </section>
                        </main>
                        <main id="main-2">
                            <button class="s-btn" id="s-l-btn">Log in</button>
                        </main>
                        <p id="n-main" class="f-p">Forgot password</p>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer id="f-mobile-visible">
        <div id="footer-docl">
            <div class="footer-link-con">
                <ul class="footer-links">
                    <li><a href="" class="footer-link">Collection</a></li>
                    <li><a href="" class="footer-link">Catalog</a></li>
                    <li><a href="" class="footer-link">About Us</a></li>
                    <li><a href="" class="footer-link">Blog</a></li>
                </ul>
            </div>
            <div id="footer-social">
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bx-envelope.svg" alt="Email icon">
                </a>
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxl-facebook.svg" alt="Facebook icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-instagram.svg" alt="Instagram icon">
                </a>
                <a href="" class="soc-icon mobile-mvd">
                    <img src="../static/media/icon/bxs-phone.svg" alt="Phone icon">
                </a>
                <a href="" class="soc-icon">
                    <img src="../static/media/icon/bxl-twitter.svg" alt="Twitter icon">
                </a>
            </div>
        </div>
        <hr id="top-line">
        <div id="footer-docs">
            <a href="">CUSTOMERS SERVICE AND TERMS</a>
            <a href="">MATERIALS & CARE</a>
            <a href="">PRIVACY POLICY</a>
        </div>
        <hr id="bottom-line">
    </footer>
</body>
</html>