{% extends "chollo_main/base.html" %}
 
{% load static %}

{% block body %}
    <section id="nav-menu">
        <div id="div-nav-menu">
            Home / Categories / Clothing’s / Nnamdi Men’s Store / Men’s Shirt
        </div>
    </section>
    <section id="product">
        <div id="product-cont">
            <div id="product-image-cont">
                <div id="product-image">
                    <img src="{{product.image.url}}" alt="">
                </div>
                <div class="shadowbox"></div>
            </div>
            <div id="product-details">
                <div id="reviews-div">
                    <div id="rew-rating">
                        <img class="r-r-17" src="{% static "chollo_main/media/icon/Star 5.svg" %}" alt="rating icon">
                        <p class="t-o-5">4.5</p>
                    </div>
                    <p class="t-o-5">|</p>
                    <div id="rew-txt" class="t-o-5">
                        <span>12 </span>reviews
                    </div>
                </div>
                <div id="product-name">
                    <p id="prod-name">men jacket shirt</p>
                </div>


                <div id="produ-pric">
                    <p id="prod-price">NGN 12,000</p>
                    <form action="{% url 'chollo_cart:add_to_cart' product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Add to cart">
                    </form>
                </div>
                <div id="quantity">
                    <div id="redu-quan" class="align-c">
                        <img src="{% static "chollo_main/media/icon/Vector 615.svg" %}" alt="Reduce button">
                    </div>
                    <div id="quan-number">
                        <p id="qu-number">1</p>
                    </div>
                    <div id="incr-quan" class="align-c">
                        <img src="{% static "chollo_main/media/icon/plus icon.svg" %}" alt="Add button">
                    </div>
                </div>
                <div id="pro-butns">
                    <button id="buy-now" class="btn">Buy Now</button>
                    <button id="add-t-c" class="btn">Add to cart</button>
                </div>
                <button id="share">
                    Share
                </button>
            </div>
        </div>
        <div id="descrev">
            <div id="d-rev">
                <div class="desrev hover">Description</div>
                <div class="desrev">Reviews</div>
            </div>
            <div id="descrev-cont">
                <div id="reviews"></div>
                <div id="desc-text">
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
        <div id="related-section">
            <div id="related-info">
                <div class="vec">
                    <img src="{% static "chollo_main/media/icon/Vector 615.svg" %}" alt="Line break">
                </div>
                <div class="txt">
                    Related Works
                </div>
            </div>
            <div id="related-items">
                <div class="r-items">
                    <div class="r-item-img">
                        <img class="r-img" src="{% static "chollo_main/media/product-image/21f21eeca6accf7416fc2b27bae3450f (1).png" %}" alt="">
                        <div class="shadowbox"></div>
                    </div>
                    <div class="r-item-txt">
                        <p>Multiple Color Men Shirt</p>
                        <div class="r-price">
                            <p>NGN 4,000</p>
                            <div class="r-price-rev">
                                <img class="rpr-img" src="{% static "chollo_main/media/icon/Star 5.svg" %}" alt="">
                                <p class="rpr-rating">4.2</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="r-items">
                    <div class="r-item-img">
                        <img class="r-img" src="{% static "chollo_main/media/product-image/5fb8affd2c5d7c0ef4d52aec564efde7 (1).png" %}" alt="">
                        <div class="shadowbox"></div>
                    </div>
                    <div class="r-item-txt">
                        <p>Multiple Color Men Shirt</p>
                        <div class="r-price">
                            <p>NGN 4,000</p>
                            <div class="r-price-rev">
                                <img class="rpr-img" src="{% static "chollo_main/media/icon/Star 5.svg" %}" alt="">
                                <p class="rpr-rating">4.5</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="r-items">
                    <div class="r-item-img">
                        <img class="r-img" src="{% static "chollo_main/media/product-image/bab469d61797b42a259aaf3affa61130 1.png" %}" alt="">
                        <div class="shadowbox"></div>
                    </div>
                    <div class="r-item-txt">
                        <p>Multiple Color Men Shirt</p>
                        <div class="r-price">
                            <p>NGN 4,000</p>
                            <div class="r-price-rev">
                                <img class="rpr-img" src="{% static "chollo_main/media/icon/Star 5.svg" %}" alt="">
                                <p class="rpr-rating">4.4</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="r-items">
                    <div class="r-item-img">
                        <img class="r-img" src="{% static "chollo_main/media/product-image/f559820c47c0279ebbd8321cff5e9101.png" %}" alt="">
                        <div class="shadowbox"></div>
                    </div>
                    <div class="r-item-txt">
                        <p>Multiple Color Men Shirt</p>
                        <div class="r-price">
                            <p>NGN 4,000</p>
                            <div class="r-price-rev">
                                <img class="rpr-img" src="{% static "chollo_main/media/icon/Star 5.svg" %}" alt="">
                                <p class="rpr-rating">4.2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
